*{
    
    margin: 10px;
    margin-left: 50px;
}
#search {border-radius: 15px;
    width: 150px;
    height: 40px;
    border-color: aqua;
    color: aqua;
}
#plus{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:white;
    background-color:rgb(30, 118, 118) ;
    font-size: 45px;
    border-width: 0;

  
}
#creat{width:200px;
    height: 60px;
    background-color: rgb(29, 29, 254);
    box-shadow: 5px 5px 4px #000000;
    color: white;
    font-size: 15px;

}